{% extends "layouthome.html" %}
{% block content %}

        <article class="media content-section">
          <div class="media-body">

            <h1> AspecT and ClAssT</h1>
            <br>
            <p>
            AspecT and ClAssT are both Tools to taxonomically assign Acinetobacter Input-Data using Bloom Filters.
            AspecT performs a taxonomic Assignment on the Acinetobacter Species-Level while ClAssT uses Strain-Typing to
            identify international Clones of A.baumannii.
            </p>

          </div>
        </article>


{% endblock content %}
